<html>
{{#each foo}}
{{this}}
{{/each}}
<a id="Mainpage" href="../index.html"><button class="button button2">Back To Main DataBase</button></a>
<h3>Add new Club:</h3>
<form id="addclub" action="/clubs" method="post">
    Club Name: <input type="text" name="club_name"><br>
    Club ID: <input type="number" name="clubID"><br>
    <input type="submit" value="Submit">
</form>
<br/>

<h3>Current Clubs:</h3>
<table>
    <thead> 
        <th>Club Name</th> 
        <th>ClubID</th> 
    </thead> 
    <tbody>
        {{#each clubs}} 
        <tr> 
            <td>{{club_name}}</td> 
            <td>{{clubID}}</td> 
        </tr> 
        {{/each}} 
    </tbody> 
</table> 
</html>
