<html>
{{#each foo}}
{{this}}
{{/each}}
<h3>Add new course:</h3>
<form id="addcourse" action="/course" method="post">
    Course Name: <input type="text" name="course_name"><br>
    Course ID: <input type="number" name="courseID"><br>
    Credits: <input type="number" name="credits"><br>
    <input type="submit" value="Submit">
</form>
<br/>

<h3>Current Courses:</h3>
<table>
    <thead> 
        <th>Course Name</th> 
        <th>Credits</th> 
        <th>CourseID</th>
    </thead> 
    <tbody>
        {{#each course}} 
        <tr> 
            <td>{{course_name}}</td> 
            <td>{{credits}}</td> 
            <td>{{courseID}}</td> 
        </tr> 
        {{/each}} 
    </tbody> 
</table> 
</html>
